.Contacts {
  color: white;
}

.Contacts p {
  margin: 0;
}

@media (min-width: 1000px) {
  .Contacts {
    position: absolute;
    bottom: 2rem;
    left: 5rem;
    display: flex;
  }
  .Contacts div {
    margin-right: 0.5rem;
  }
  .Contacts h4 {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .Contacts {
    text-align: center;
    margin-bottom: 4rem;
  }
  .Contacts h4 {
    font-size: 1.4rem;
  }
  .Contacts p {
    font-size: 1.2rem;
  }
}
